<header>
    <div class="container">
        <h1>Bliss</h1>
        
        <nav>
            <ul>
                <% if(user) { %>
                    <li>
                        <a class="fcc-btn" href="/movies">See Movie List</a>
                    </li>
                    <li>
                        <a class="fcc-btn" href="/movies/new">Add Movie</a>
                    </li>
                    <li>
                        <a class="fcc-btn" href="/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li>
                        <a class="fcc-btn" href="/signup">Sign Up</a>
                    </li>
                    <li>
                        <a class="fcc-btn" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </nav>
        <div class="header-divider"></div>
    </div>
</header>
