<header>
    <div class="container">
        <figure>
            <img src="../../img/pexels-lucas-pezeta-2398354.jpg" alt="header image">
        </figure>
        
        <h1>Bliss</h1>
        <nav>
            <ul>
                <li>
                    <a href="">Sign Up</a>
                </li>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="/movies/new">Add Movie</a>
                </li>
            </ul>
        </nav>
        <div class="header-divider"></div>
    </div>
</header>
