<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bliss</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 
    
    <div class="movie-list">
        <div class="container">
            <h2>All Movies</h2>
            <ul>
                <% movies.forEach(movie => { %>
                    <div class="movie-card">
                        <li>
                            <a href="/movies/<%= movie._id %>">
                                <figure class="movie-card-figure">
                                    <img src="<%= movie.movieImg %>" alt="<%= movie.title %>">
                                </figure>
                            </a>
                        </li>
                    </div>
                <% }); %>
            </ul>
        </div>
    </div>

</body>
</html>