<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Movie</title>
</head>
<body>
    <h1>Add a New Movie</h1>
    <div class="formStructure">
        <form action="/movies" method="POST">
            <label>Movie Name:
                <input type="text" name="title" required>
            </label>
            <label>Movie Image:
                <input type="text" name="movieImg">
            </label>
            <label>Movie Description:
                <input type="text" name="movieDescription" required>
            </label>

            <input type="submit" value="Add New Movie">
        </form>
    </div>
    
</body>
</html>